@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

/* Section Nav */
section#nav {
    padding: 2rem;
    background-color: #6C63FF;
}

nav#nav-bar {
    display: flex;
    justify-content: space-around;

    color: white;
}

ul#nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;

    list-style: none;
}

a.nav-item {
    display: flex;
    align-self: center;
    padding: 0.5rem;
    transition: 0.8s;
    border-radius: 10px;
    text-decoration: none;

    color: white;
    
}

a.nav-item:hover {
    cursor: pointer;
    background-color: #504abc;
    transition: 0.8s;
}

a.nav-item-atual {
    color: #b1adfb;
    border:solid 1px #b1adfb;
}

a.nav-item-atual:hover {
    background-color:#6C63FF;
    border: solid 1px white;
    color: white;
}

h1 {
    font-size: 26px;
}

div#nav-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Section Intro */
section#intro {
    display: flex;
    flex-direction: column;

    background-color: #6C63FF;
    color: white;
    padding: 0rem 0rem 5rem 0rem;
}


h2.h2 {
    text-align: center;

    color: white;
    font-size: 30px;
    padding: 5rem 0rem 1rem 0rem;
}

div#intro-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#intro-text {
    text-align: center;
    width: 50%;

    font-size: 18px;
    padding: 1rem;   
    border: solid 1px #b1adfb;
    border-radius: 10px; 
    transition: 0.8s;
}

div#intro-text:hover {
    background-color: #504abc;
    border: solid 1px #6C63FF;
    transition: 0.8s;
}

img#intro-img-config {
    width: 300px;
}

/* Section Pitch  */ 
section#pitch {
    display: flex;
    flex-direction: column;
    background-color: #444096;
    height: 600px;
    padding: 0rem 0rem 5rem 0rem;
}

h2.pitch-h2 {
    padding: 3rem 0rem 1rem 0rem;
}

div#pitch-video {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer.rodape {
    background-color: #292665;
    padding: 20px;
    display: flex;
    justify-content: space-around;

    color: white;
  }
  
  div.contato, div.inscricao {
    width: 45%;
  }
  
form#rodape-form {
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem 0rem 0rem;
  }
  
  input.input-email[type="email"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
  }
  
  button#rodape-button {
    padding: 8px 15px;
    background-color: #6C63FF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.8s;
  }
  
  button#rodape-button:hover {
    background-color: #504abc;
    transition: 0.8s;
  }
  